@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700&display=swap");

:root {
  /*bg colors*/
  --Negro: #02050e;
  --primario: #1e50ff;
  --secundario: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bag: #0f1525;

  /* Text Colors */
  --text-gris: #adb9c7;
  --text-blanco: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*TODO */
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
  /*font-size: 62.5%; /*1 rem = 10px*/
}
/*---------HEADER-----------*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secundario);
  height: 4.063rem;
  padding: 0 1.875rem;
  /* TODO: Acompaña la barra */
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  height: 40%;
}
/*---------ESTILO DE ICONO DE CARRITO ----------*/
.cart-icon {
  font-weight: 600;
  height: 1.875rem;
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  color: var(--text-blanco);
}
/*--------BARRA DE NAVEGACION---------*/
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 6.25rem;
}

.navbar-list {
  gap: 1.875rem;
}

.navbar-list a {
  color: var(--text-gris);
  font-size: 0.875rem;
}

.navbar-list li:first-child > a {
  color: var(--text-blanco);
  font-weight: 600;
}

/*------------MAIN----------*/

main {
  background: var(--Negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-blanco);
  width: 100%;
}

/*--- HERO SECTION ---*/

#hero {
  margin-top: 3.125rem;
  padding: 3.125rem 0;
  max-width: 75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 50%;
}

.hero-info h1 {
  font-size: 3rem;
  width: 80%;
  font-weight: 800;
  min-width: 31.25rem;
  color: var(--text-blanco);
}

.hero-info p {
  font-size: 1.4rem;
  width: 70%;
  color: var(--text-gris);
}

.hero-info p > span {
  font-weight: 800;
}

/*----BOTON----*/
.hero-info a {
  border-radius: 0.625rem;
  font-size: 0.875rem;
  background: var(--primario);
  color: var(--text-blanco);
  padding: 0.313rem 0;
  width: 7.5rem;
  text-align: center;
}

/*-----CARTA------*/

.hero-card {
  color: var(--text-blanco);
  background-color: var(--secundario);
  width: 18.75rem;
  padding: 1.25rem;
  border-radius: 0.938rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}

.hero-card-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.625rem;
}

.hero-card-top h3 {
  font-weight: 37.5rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hero-card-top span {
  background-color: var(--primario);
  text-align: center;
  width: 3.125rem;
  padding: 0.188rem 0;
  font-size: 0.875rem;
  border-radius: 0.625rem;
}

.hero-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hero-card-creator {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}

.hero-card-creator img {
  height: 2.5rem;
  width: 2.5rem;
}

.creator-info p:first-child,
.hero-card-price p {
  color: var(--text-gris);
  font-size: 0.75rem;
  font-weight: 300;
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.hero-card-price span,
.creator-info p:last-child {
  font-size: 0.875rem;
}

.hero-card-price span {
  font-weight: 700;
}

/***************** INFOR CARD *******************/

#info {
  padding: 4.375rem 0;
  max-width: 75rem;
}
